<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangdi.tradingplatform.DAO.TransactionMapper">
    <!--匹配符合要求的交易列表-->
    <select id="matching" resultType="com.wangdi.tradingplatform.Entity.Transaction" parameterType="com.wangdi.tradingplatform.Entity.Transaction">
        select id, buyer_id, seller_id, goods_id, status, create_time, update_time, end_time from T_transaction
        <where>
            <if test="id != 0">
                id = #{id}
            </if>
            <if test="sellerId != 0">
                and seller_id=#{sellerId}
            </if>
            <if test="buyerId != 0">
                and buyer_id=#{buyerId}
            </if>
            <if test="goodsId != 0">
                and goods_id=#{goodsId}
            </if>
            <if test="status != 0">
                and `status`=#{status}
            </if>
        </where>
    </select>
</mapper>