<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DAO.CartMapper">
    <!--创建一个购物车-->
    <insert id="create" parameterType="Entity.Cart">
        insert into DB_xianyu.Cart (Cartid,Userid,Goodsid,Goodsnum,pricesum,DATE)
        values (null,#{Userid},#{Goodsid},#{Goodsnum},#{pricesum},#{DATE});
    </insert>
    <!--根据用户ID查找购物车-->
    <select id="findByUser" resultType="Entity.Cart">
        select  CART.Cartid,CART.Userid,CART.Goodsid,CART.Goodsnum,
        CART.pricesum,CART.DATE
        from DB_xianyu.Cart CART
        where Userid=#{Userid}
    </select>
    <!--根据购物车ID查找购物车-->
    <select id="findByID" resultType="Entity.Cart">
        select * from DB_xianyu.Cart
        where Cartid=#{Cartid}
    </select>
    <!--更改一个购物车的信息-->
    <update id="change" parameterType="Entity.Cart">
        update DB_xianyu.Cart set Goodsid=#{Goodsid},Goodsnum=#{Goodsnum},
        pricesum=#{pricesum},DATE=#{DATE}
        where Cartid=#{Cartid}
    </update>
    <!--根据一个用户的ID删除一个购物车-->
    <delete id="delete" parameterType="int">
        delete from DB_xianyu.Cart where Userid=#{Userid}
    </delete>
</mapper>